@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --color-background: #D9F9F4;
    --color-primary: #9CD9DE;
    --color-secondary: #86C1D4;
    --color-tertiary: #5A92AF;
    --color-text: #082c3d;
    --fa-primary-color: #2f657c;
    --fa-display: inline;
}

[data-theme="dark"] {
    --color-background: #abbed0;
    --color-primary: #112149;
    --color-secondary: #293e67;
    --color-tertiary: #051931;
    --color-text: #317394;
    --fa-primary-color: #61b3cc;
}

svg {
    color: var(--fa-primary-color);
}

.svg-inline--fa {
    vertical-align: middle;
}

body{
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--color-background);
    transition: all 0.5s ease-in-out;
}

a{
    text-decoration: none;
    color: var(--color-text);
}

.postAccess {
    color: var(--fa-primary-color);
}

header{
    padding: 20px 0 20px 0;
    background-color: var(--color-primary);
    transition: all 0.5s ease-in-out;
}

div.myForm {
    width: 600px;
    margin: 300px auto;
    position:absolute;
    left:50%;
    transform: translate(-50%,-50%);
    background-color: var(--color-tertiary);
    border-radius:10px;
    padding:70px 100px;
    transition: all 0.5s ease-in-out;
}

div.myForm legend {
    padding: 0 3px;
    font-weight: bold;
    color: var(--color-text);
}

div.myForm fieldset {
    border-radius:10px;
    border-color: var(--color-secondary);
}

div.myForm label {
    width: 140px;
    display: inline-block;
    vertical-align: top;
    margin: 6px;
    font-size:16px;
    color: var(--color-text);
    transition: all 0.5s ease-in-out;
    padding: 8px 0 5px 0;
}

div.myForm em {
    font-weight: bold;
    font-style: normal;
    color: var(--color-secondary);
    transition: all 0.5s ease-in-out;
}

div.myForm input, textarea {
    width: 260px;
    margin: 6px;
    border:0;
    border-bottom:1px solid var(--color-secondary);
    background:transparent;
    padding:8px 0 5px 0;
    font-size:16px;
    color: var(--color-text);
}

div.myForm input, textarea:focus{
    border:none;
    outline:none;
    border-bottom:1px solid var(--color-secondary);
}

#button{
    color: var(--color-text);
    background-color: var(--color-secondary);
    outline: none;
    border: 0;
    padding:10px 20px;
    text-transform:uppercase;
    margin-top:50px;
    border-radius:2px;
    cursor:pointer;
    position:relative;
}

div.center {
    margin: 0 auto;
    display: table;
}

.date {
    color: gray;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.eyeIcon {
    color: var(--color-secondary);
}

@media all and (max-width: 991px){
    header {
        padding: 10px 0 10px 0;
    }

    #spanHeader {
        display: none;
    }

    div.myForm {
        width: 80%;
        position:absolute;
        margin-top: 150px;
        left:50%;
        transform: translate(-50%,-50%);
        background-color: var(--color-tertiary);
        border-radius:10px;
        padding:30px;
        transition: all 0.5s ease-in-out;
    }

    div.myForm label {
        width: 70px;
        display: inline-block;
        vertical-align: top;
        margin: 6px;
        font-size:10px;
        color: var(--color-text);
        transition: all 0.5s ease-in-out;
        padding: 4px 0 2px 0;
    }

    div.myForm em {
        font-weight: bold;
        font-style: normal;
        color: var(--color-secondary);
    }

    div.myForm input, textarea {
        width: 200px;
        margin: 3px;
        border:0;
        border-bottom:1px solid var(--color-secondary);
        background:transparent;
        padding:4px 0 2px 0;
        font-size:10px;
        color: var(--color-text);
    }

    div.myForm input, textarea:focus{
        border:none;
        outline:none;
        border-bottom:1px solid var(--color-secondary);
    }

    #button{
        color: var(--color-text);
        background-color: var(--color-secondary);
        outline: none;
        border: 0;
        padding: 5px 10px;
        text-transform: uppercase;
        border-radius: 2px;
        position:relative;
        height: auto;
        margin: 0;
    }
}